vendor/
node_modules/
.env
.env.backup
.env.production
.git/
.phpunit.cache/
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
tests/
.phpunit.result.cache
